<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register Page</h1>
    <div class="container">
        <form action="/register" method="post">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" id="email">
            <input type="text" name="pass" placeholder="Password">
            <input type="text" name="passCon" placeholder="Confirm Password">
            <button>Submit</button>
        </form>
    </div>
</body>
</html>